*{
    margin: 0;
    padding:0;
}
body{
    background-color: #548687;
    text-align: center
}
 .container{
  height:70vh;
  display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
 }

 .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
 }
 .box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0,1);
    font-size: 10vmin;
    color: rgb(206 18 18 / 75%);
    background-color: antiquewhite;
    
 }
 #reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(192, 52, 52);
    font-size: large;
    border-radius: 2rem;
 }
    #new-btn {
        padding: 1rem;
        font-size: 1.25rem;
        background-color: rgb(192, 52, 52);
        font-size: large;
        border-radius: 2rem;
       
    }
    #msg {
        color: aliceblue;
        font-size: 4vmin;
        color: black;
        
        
        
    }
    .msg-container{
        height: 20vmin;
    }
    .hide{
        display: none;
    }
    
 
